@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

nav {
    height: 80px;
    display: flex;;
}

img {
    width: 100%;
    height: 100%;
}

p {
    line-height: 1.5;
    color: gray;
}

a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 700;
}

a:hover {
    text-decoration: underline;
}

i {
    font-size: 24px;
    color: #cc0000;
    display: block;
    text-align: center;
    text-size-adjust: 100%;
}

.container {
    padding: 80px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
}

.red {
    color: #cc0000;
}

.green {
    color: green;
}

.yellow {
    color: blue;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    animation: slide-right 600ms backwards;
}

.logo {
    width: 90px;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 1000;
    color: #243e63;
    transition: all 300ms ease;
}

.logo:hover {
    color: #cc0000;
    text-decoration: none;
    transition: all 300ms ease;
}

.logo__img {
    width: 100%;
    height: 100%;
    max-height: 50vh;
    padding: 20px;
    border-radius: 24px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 14px;
    color: #243e63;
    font-weight: bold;
    margin: 0 24px;
    transition: all 300ms ease;
}

.nav__link:hover {
    text-decoration: none;
    color: #cc0000;
    transition: all 300ms ease;
}

.nav__link--primary {
    color: white;
    background-color: #cc0000;
    border-radius: 9999px;
    padding: 12px 32px;
    transition: all 300ms ease;
}

.nav__link--primary:hover {
    text-decoration: none;
    background-color: #8f0101;
    color: white;
    transition: all 300ms ease;
}

/*

HEADER

*/

.header {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 96px 0;
    justify-content: space-between;
    animation: slide-right 600ms backwards;
}

@keyframes slide-left {
    0% {
      opacity: 1;
      transform: translateX(2000px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slide-right {
    0% {
      opacity: 1;
      transform: translateX(-2000px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

.header__description {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.header__description--title {
    font-size: 48px;
    font-weight: 700;
}

.header__description--para {
    font-size: 18px;
    margin: 32px 0;
}

.email__wrapper {
    position: relative;
    width: 448px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header__email {
    font-size: 16px;
    font-weight: 500;
    color: rgb(36, 62, 99);
    background-color: rgb(255, 255, 255);
    border: 2px solid lightgray;
    border-radius: 9999px;
    padding: 20px 192px 20px 32px;
    width: 100%;
    transition: all 300ms ease;
}

.header__email:current{
    border: 2px solid #cc0000;
}

.header__email:hover {
    border: 2px solid gray;
    transition: all 300ms ease;
}

.header__email::placeholder {
    color: lightgray;
}

.header__email--btn {
    font-size: 16px;
    font-weight: 700;
    border-style: none;
    color: white;
    background-color: #cc0000;
    margin: 8px 8px 8px 0;
    padding: 16px;
    border-radius: 9999px;
    height: 80%;
    width: 160px;
    padding: 16px 0;
    position: absolute;
    right: 0;
    transition: all 300ms ease;
}

.header__email--btn:hover {
    background-color: #8f0101;
    cursor: pointer;
    transition: all 300ms ease;
}

.header__customers--wrapper {
    display: block;
    padding: 80px 0 0 0;
}

.header__customers {
    font-size: 14px;
    font-weight: 700;
    color: rgb(160, 174, 192);
}

.header__img {
    width: 100%;
    max-width: 768px;
    display: flex;
    align-items: center;
}

/*

FEATURES

*/

.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 98px;
    padding: 96px 0;
    animation: slide-left 600ms backwards;
}

.features__title {
    font-size: 16px;
}

.features__para {
    width: 530px;
    max-width: 530px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 16px;
    text-align: center;
}

.features__space {
    margin-top: 40px;
    width: 1024px;
}

.services {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.service {
    width: 341.343px;
    max-width: 384px;
}

.service__size {
    margin: 0 16px;
    padding: 32px 8px;
    display: flex;
    flex-direction: row;
}

.img__container {
    border: 1px solid lightgray;
    border-radius: 9999px;
    min-width: 66px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.service__text {
    display: flex;
    flex-direction: column;
    margin: 8px 0 0 16px;
    text-align: left;
}

.service__title {
    font-size: 24px;
    font-weight: 700;
}

.service__description {
    font-size: 16px;
    font-weight: 500;
    color: gray;
}

/*

QUALITY WORK

*/

.qw {
    margin: 0 43.5;
    padding: 96px 0;
    display: flex;
    flex-direction: row-reverse;
    animation: slide-right 600ms backwards;
}

.qw__img {
    width: 50%;
    border: 2px solid lightgray;
    border-radius: 5px;
    overflow: hidden;
}

.qw__text {
    width: 50%;
    text-align: left;
}

.qw__title {
    font-size: 16px;
    font-weight: 700;
}

.qw__para {
    font-size: 18px;
    font-weight: 500;
    margin: 16px 0 0 0;
    color: gray;
}

.qw__button--wrapper {
    margin: 32px 0 0 0;
}

.qw__button {
    background-color: #cc0000;
    border-radius: 9999px;
    padding: 12px 32px;
    transition: all 300ms;
}

.qw__button:hover {
    text-decoration: none;
    background-color: #8f0101;
    transition: all 300ms ease;
}

/*

STEPS

*/

.steps {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 98px;
    padding: 96px 0;
    animation: slide-left 600ms backwards;
}

.steps__img--wrapper {
    width: 50%;
    max-width: 100%;
    max-height: 400px;
}

.steps__text {
    width: 50%;
    padding: 32px 0;
    padding-left: 64px;
}

.steps__title {
    font-size: 16px;
    font-weight: 700;
}

.steps__lists {
    display: flex;
    flex-direction: column;
}

.steps__list {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    align-items: flex-start;
    text-align: left;
}

.steps__number {
    font-size: 36px;
    color: lightgray;
}

.steps__list--wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

.steps__list--title {
    font-size: 20px;
}

.steps__list--para {
    font-size: 14px;
    margin-top: 12px;
}

/*

VALUES

*/

.values {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 166.5px;
    padding: 96px 0;
    animation: slide-right 600ms backwards;
}

.values__text {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.values__title {
    font-size: 16px;
}

.values__para {
    margin-top: 32px;
    font-size: 18px;
}

.values__principles {
    display: flex;
    flex-direction: row;
}

.values__principle {
    margin: 32px 32px 0 0;

}

.values__principle--title--wrapper {
    display: flex;
    flex-direction: row;
}

.values__principle--icon--green {
    background-color: lightgreen;
    border-radius: 9999px;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.values__principle--icon--yellow {
    background-color: lightblue;
    border-radius: 9999px;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.values__principle--title {
    font-size: 20px;
    margin-left: 12px;
}

.values__button {
    width: 141.25px;
    font-size: 14px;
    margin-top: 48px;
    padding: 12px 32px;
    background-color: #cc0000;
    border-radius: 9999px;
    transition: all 300ms ease;
}

.values__button:hover {
    text-decoration: none;
    background-color: #8f0101;
    cursor: pointer;
    transition: all 300ms ease;
}

.values__img {
    width: 50%;
}

/*

PRICING

*/

.pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    margin: 0 166.5px;
    padding: 96px 0;
    animation: slide-left 600ms backwards;
}

.pricing__text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__title {
    font-size: 16px;
    font-weight: 700;
}

.pricing__para { 
    max-width: 576px;
    font-weight: 500;
    margin-top: 16px;
}

.pricing__options {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.pricing__option {
    flex-direction: column;
    align-items: center;
    margin: 64px 32px 0 0;
    padding: 0 32px;
    text-align: center;
    width: 384px;
    max-width: 384px;
    border-radius: 10px;
    border: .5px solid lightgray;
    border-top: none;
    position: relative;
}
.pricing__option--middle {
    margin: 64px 32px 0 0;
    padding: 0 32px;
    text-align: center;
    max-width: 384px;
    width: 384px;
    border-radius: 8px;
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    color: white;
}

.pricing__option--top--left,
.pricing__option--top--middle,
.pricing__option--top--right {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 8px;
    width: 100%;
    position: absolute;
    right: 0%;
}

.pricing__option--top--left {
    background-image: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.pricing__option--top--right {
    background-image: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.pricing__option--header {
    display: flex;
    flex-direction: column;
    padding: 32px 0;
}

.name {
    font-size: 20px;
    font-weight: 700;
}

.price {
    margin: 4px;
    font-size: 48px;
    font-weight: 700;
}

.duration {
    font-size: 16px;
    font-weight: 700;
    color: #a0aec0;
}

.middle {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    color: white;
}

.pricing__option--feature {
    margin-left: -32px;
    margin-right: -32px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.feature__title {
    font-size: 20px;
    font-weight: 700;
}

.feature,
.feature__primary {
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
}

.feature {
    color: #718096;
}

.feature__primary {
    color: white;
}

.pricing__button--wrapper {
    padding: 32px 64px;
}

.pricing__button--left,
.pricing__button--middle,
.pricing__button--right {
    font-size: 14px;
    font-weight: 700;
    padding: 16px 32px;
    border-radius: 9999px;
    width: 100%;
    border: none;
    transform: translateX(0);
    transform: translateY(0);
    transition: all 300ms ease;
    text-shadow: none;
}

.pricing__button--left:hover,
.pricing__button--middle:hover,
.pricing__button--right:hover {
    transform: translateX(10);
    transform: translateY(10);
    transition: all 300ms ease;
    text-shadow: #a0aec0;
    cursor: pointer;
}

.pricing__button--left {
    color: white;
    background-image: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.pricing__button--middle {
    color: rgb(76, 81, 191);
}

.pricing__button--right {
    color: white;
    background-image: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

/*

TESTIMONIALS

*/

.testimonials {
    margin: 0 166.5px;
    padding: 96px 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    animation: slide-right 600ms backwards;
}

.testimonials__img--wrapper{
    max-width: 50%;
}

.testimonials__img {
    width: 100%;
}

.testimonials__text {
    max-width: 50%;
    padding-left: 64px;
}

.testimonials__title {
    font-size: 16px;
    font-weight: 700;
}

.testimonials__description {
    font-size: 48px;
    font-weight: 900;
}

.testimonials__para {
    font-size: 18px;
    font-weight: 500;
}

.review__wrapper {
    margin-top: 24px;
}

.star {
    color: orange;
}

.review__title {
    font-size: 20px;
    font-weight: 700;
    margin-top: 16px;
}

.review__para {
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 500;
}

.review__nav {
    display: flex;
    flex-direction: row;
}

.review__person--wrapper {
    width: 252;
    height: 80px;
    display: flex;
    align-items: center;
}

.review__img {
    width: 80px;
    max-width: 100%;
    height: 80px;
    max-height: 100%;
    border-radius: 9999px;
}

.review__person--name--wrapper {
    margin-left: 24px;
}

.review__person--name {
    font-size: 20px;
}

.review__person--occupation {
    font-size: 16px;
    color: #718096;
}

/*

FOOTER

*/

footer {
    background-color: #cc0000;
    max-height: 522px;
    height: 522px;
    padding: 32px;
    animation: slide-left 600ms backwards;
}

.footer__wrapper {
    max-height: 100%;
    height: 378px;
}

.footer__columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__column {
    display: flex;
    flex-direction: column;
    width: calc(100%/5);
    margin-top: 48px;
}

.footer__column--title {
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 8px;
}

.footer__column--links {
    display: flex;
    flex-direction: column;
}

.footer__column--link {
    margin-top: 12px;
}

.footer__column--link--a {
    font-weight: 400;
    color: white;
    text-decoration: none;
    transition: all 300ms ease;
}

.footer__column--link--a:hover {
    text-decoration: underline;
    transition: all 1000ms ease;
}

.footer__space {
    margin: 64px 0;
    border: .25px solid #c74f4f;
}

.footer__nav {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__logo--img {
    width: 32px;
    height: 32px;
    border-radius: 2px;
}

.footer__logo--name {
    font-size: 20px;
    margin-left: 8px;
}

.footer__copyright {
    color: white;
}

.footer__nav--links {
    display: flex;
}

.footer__nav--link {
    background-color: white;
    color: #243e63;
    border-radius: 9999px;
    margin-right: 16px;
    padding: 8px;
    max-width: 32px;
    max-height: 32px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
}

.footer__nav--link:hover {
    background-color: rgb(214, 214, 214);
    transition: all 300ms ease;
    text-decoration: none;
}

/* Small phones, tablets, large smartphones */
@media (max-width: 1006px) {
    .row {
        max-width: 1006px;
        width: 100%;
    }

    .padding {
        padding: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .header__description {
        max-width: 100%;
        width: 512px;
    }
    
    .header__description--title {
        font-size: 30px;
        font-weight: 700;
    }

    .description {
        font-size: 32px;
    }

    .values__principles,
    .pricing__options {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pricing__option {
        margin-right: 0px;
    }
}

/* SMALL PHONES */
@media (max-width: 625px) {
    .email__wrapper {
        position: none;
    }

    .header__email--btn {
    }

    .services {
    }

    .service__size {
        display: flex;
        flex-direction: column;
    }

    .qw {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    section {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}